<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap uap10 rescap desktop4 desktop5 com">

  <Identity
    Name="run.rosie.freeace.contextmenu"
    ProcessorArchitecture="neutral"
    Publisher="__PUBLISHER_DN__"
    Version="__PACKAGE_VERSION__" />

  <Properties>
    <DisplayName>FreeAce</DisplayName>
    <PublisherDisplayName>BurntToasters</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <!-- Required for Add-AppxPackage -ExternalLocation (0x80073D2E without this). -->
    <uap10:AllowExternalContent>true</uap10:AllowExternalContent>
  </Properties>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>

  <Applications>
    <Application
      Id="FreeAceContextMenu"
      Executable="freeace.exe"
      uap10:TrustLevel="mediumIL"
      uap10:RuntimeBehavior="win32App">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="FreeAce"
        Description="FreeAce File Explorer context menu"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent" />
      <Extensions>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <!-- This package exposes exactly one verb. Windows 11 groups multiple
                 verbs from one app identity into an attributed flyout. -->
            <desktop5:ItemType Type="*">
              <desktop5:Verb Id="FreeAceRoot" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5C" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb Id="FreeAceRootDir" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5C" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory\Background">
              <desktop5:Verb Id="FreeAceRootBg" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5C" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="FreeAce">
              <com:Class Id="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5C" Path="__SHELL_DIRECTORY__\freeace_shell.dll" ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
