<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap uap10 rescap desktop4 desktop5 com">

  <Identity
    Name="run.rosie.freeace.extractmenu"
    ProcessorArchitecture="neutral"
    Publisher="__PUBLISHER_DN__"
    Version="__PACKAGE_VERSION__" />

  <Properties>
    <DisplayName>Extract with FreeAce</DisplayName>
    <PublisherDisplayName>BurntToasters</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap10:AllowExternalContent>true</uap10:AllowExternalContent>
  </Properties>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>

  <Applications>
    <Application
      Id="FreeAceExtractMenu"
      Executable="freeace.exe"
      uap10:TrustLevel="mediumIL"
      uap10:RuntimeBehavior="win32App">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="Extract with FreeAce"
        Description="Extract archives with FreeAce"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent" />
      <Extensions>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type=".7z">
              <desktop5:Verb Id="FreeAceExtract7z" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".zip">
              <desktop5:Verb Id="FreeAceExtractZip" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".rar">
              <desktop5:Verb Id="FreeAceExtractRar" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".tar">
              <desktop5:Verb Id="FreeAceExtractTar" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".gz">
              <desktop5:Verb Id="FreeAceExtractGz" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".tgz">
              <desktop5:Verb Id="FreeAceExtractTgz" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".bz2">
              <desktop5:Verb Id="FreeAceExtractBz2" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".tbz2">
              <desktop5:Verb Id="FreeAceExtractTbz2" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".xz">
              <desktop5:Verb Id="FreeAceExtractXz" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".txz">
              <desktop5:Verb Id="FreeAceExtractTxz" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".001">
              <desktop5:Verb Id="FreeAceExtractSplit" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="Extract with FreeAce">
              <com:Class Id="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" Path="__SHELL_DIRECTORY__\freeace_extract_shell.dll" ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
